.detail-paper {
  border: solid transparent;
  border-width: 5px 30px 5px 30px;
  padding-top: 2em;
  background-color: #efefef;
}

.code-detail {
  background-color: #efefef;
  margin-left: 8em;
}

/* @group Code Detail Header */

code.vote-number {
  font-size: 3.95em;
  margin-top: 0.2em;
  display: inline-block;
  width: 1.3em;
  text-align: right;
}

#vote-buttons {
  display: inline-block;
  font-size: 1.45em;
  width: 1.15em;
  margin: 0;
  text-align: center;
  line-height: 0.75em;
}

.vote.selectedvote {
  bottom: 0.5em;
}

#vote-buttons > a {
  text-decoration: none;
  font-weight: bold;
}

#doubleplusgood, #ungood {
  position: relative;
}

.hiddenvote {
  display: none;
}

div.detail-sidebar {
  float: left;
  clear: both;
  width: 8em;
}

.detail-header {
  line-height: 2em;
}

#code-signature {
  margin-right: 83px;
}

#code-signature h2 {
  font-size: 3em;
  margin-top: 0.3em;
  color: #808080;
}

div#code-title {
  display: inline;
  font-weight: bold;
  font-size: 4em;
}


/*

 @end */

/* @g

roup Code Detail Content */

#description {
  line-height: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

div.syntax-container {
  border: 5px solid #d1d0d0;
}

/* @end */

.syntaxhighlighter {
  margin: 0 !important;
}

.code-detail-comments {
  background-color: #3e3e3e;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

ul.responses li {
  padding: 2em;
}

form.hidden {
  display: none;
}

li.even.thread-0 {
  background-color: #4f4f4f;
}

ul.responses {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}