{% extends "site_base.html" %}

{% load humanize %}


{% block title %}{% endblock %}
{% block head_title %}{{ object.title }}{% endblock %}

{% block extra_head_base %}
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/syntaxhighlighter/styles/shCore.css"/>
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}js/syntaxhighlighter/styles/shThemeDefault.css"/>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}

<div id="codeSignature">
  <div class="voteTitle"><code class="voteNumber">21.</code><h1>{{ object.title }}</h1></div>
  <h2>// Created by <a href="{% url profile_detail object.author %}">{{ object.author }}</a></h2>
</div>

<div id="description">
  {{ object.description }}
</div>

<pre class="brush: {{ object.language.highlight_name }}">
  {{ object.source }}
</pre>


{% block extra_body_base %}
  <script src="{{ MEDIA_URL }}js/comments.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/syntaxhighlighter/scripts/{{ object.language.highlight_script }}.js"></script>
  <script type="text/javascript">SyntaxHighlighter.config.clipboardSwf = '{{ MEDIA_URL }}js/syntaxhighlighter/scripts/clipboard.swf';SyntaxHighlighter.all();</script>
  {% block extra_body %}{% endblock %}
{% endblock %}


{% load comments_tag %}

{% comments object %}



<ul>
{% if user.is_authenticated %}
{% ifequal user.id object.author.id %}
<li><a href="/cute/edit/{{ object.id }}/">edit</a></li>
{% endifequal %}
<li>rate</li>
<li>favorite</li>
<li>comment</li>
{% endif  %}
{% endblock %}
