{% extends "site_base.html" %}

{% load humanize %}


{% block title %}{% endblock %}
{% block head_title %}{{ object.title }}{% endblock %}

{% block extra_head_base %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/code_detail.css"/>
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCore.css"/>
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shThemeDefault.css"/>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<div class="detail-paper">
  <div class="detail-sidebar">
    <code class="vote-number">21.</code>
  </div>

  <!-- The Meat and Potatos -->
  <div class="code-detail">
    <div class="detail-header">
      <div id="code-signature">
        <div id="code-title">{{ object.title }}</div>
        <h2>Created by <a href="{% url profile_detail object.author %}">{{ object.author }}</a></h2>
      </div>
    </div>

    <div id="detail-content">
      <p id="description">
        {{ object.description }}
      </p>

      <div class="syntax-container">
        <pre class="brush: {{ object.language.highlight_name }}; footer: false;">
{{ object.source }}
        </pre>
      </div>
    </div>
  </div>
</div>
  <!-- End of dinner, back to tupperwear (ie containers) -->

  <div class="code-detail-comments">
    {% load comments_tag %}
    {% comments object %}

    <ul>
      {% if user.is_authenticated %}
      {% ifequal user.id object.author.id %}
      <li><a href="/cute/edit/{{ object.id }}/">edit</a></li>
      {% endifequal %}
      <li>rate</li>
      <li>favorite</li>
      <li>comment</li>
      {% endif  %}
      {% endblock %}
  </div>

{% block extra_body_base %}
  <script src="{{ STATIC_URL }}js/jquery.borderImage.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/codedetail.js" type="text/javascript"></script>

  <script src="{{ STATIC_URL }}js/comments.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/{{ object.language.highlight_script }}"></script>
  <script type="text/javascript">SyntaxHighlighter.config.clipboardSwf = '{{ STATIC_URL }}js/syntaxhighlighter/scripts/clipboard.swf';SyntaxHighlighter.all();</script>
  {% block extra_body %}{% endblock %}
{% endblock %}

