/* @override http://localhost:8000/site_media/css/add_code.css */

#addcode {
  border: solid transparent;
  border-width: 5px 30px 5px 30px;
  padding-top: 2em;
  background-color: #efefef;
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

#addcode h1 {
  font-size: 4em;
}

fieldset {
  border-width: 0;
}

legend {
  font-size: 3em !important;
}

form p {
  position: relative
}

label {
  position: absolute;
  font-size: 1.5em;
  color: #020202;
  top: 0.5em;
  left: 0.5em;
}

label#language {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 0.5em;
  padding-left: 0.3em;
}

#addcode input[type="text"], textarea {
  padding: 3px;
  margin: 3px;
  border: solid 1px #C6C6C6;
  border-bottom: solid 1px #E3E3E3;
  color: #666;
  font-size: 1.5em;
  background: #FFFFFF;
  width: 98%;
}

#example {
  color: gray;
}