/* @override http://localhost:8000/site_media/css/code_detail.css */

.detail-paper {
  border: solid transparent;
  border-width: 5px 30px 5px 30px;
  padding-top: 2em;
  background-color: #efefef;
}

.code-detail {
  background-color: #efefef;
  margin-left: 7em;
}

/* @group Code Detail Header */

code.vote-number {
  font-size: 3.5em;
}

div.detail-sidebar {
  float: left;
  clear: both;
  width: 7em;
}

.detail-header {
  line-height: 2em;
}

#code-signature {
  margin-right: 83px;
}

#code-signature h2 {
  font-size: 3em;
  margin-top: 0.3em;
  color: #808080;
}

div#code-title {
  display: inline;
  font-weight: bold;
  font-size: 4em;
}

/* @end */

/* @g

roup Code Detail Content */

#description {
  line-height: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

div.syntax-container {
  border: 5px solid #d1d0d0;
}

/* @end */

.syntaxhighlighter {
	margin: 0 !important;
}